.Login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login-card {
  box-shadow: var(--shadow);

  background: #f3f3f3;
  width: 80vh;
  max-width: 300px;
  padding: 1rem;
  border-radius: 5px;

  .card-title {
    margin-bottom: 1rem;
    text-align: center;
    color: var(--primary);
  }

  .card-label {
    margin-bottom: 1rem;
    display: block;

    &-input {
      box-sizing: border-box;
      outline: none;
      border: 1px solid transparent;
      border-radius: 3px;
      height: 2.5rem;
      padding: 0 10px;
      width: 100%;

      &:focus {
        border: 1px solid var(--primary);
      }
    }
  }
  .card-btn {
    margin: 1rem auto 0 auto;
  }
}
