.navbar {
  height: var(--navHeight);
  position: relative;

  &.admin {
    background: var(--blue);
  }

  &.blog {
    background: var(--indigo);
  }
}

.navbar-center {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.admin {
    background: var(--blue);
  }

  &.blog {
    background: var(--indigo);
  }
}

.navbar-logo a {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.navbar-nav {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
  width: 70vw;
  max-width: 500px;
  background: #202020;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: all 0.3s ease;

  &-title {
    color: white;
    min-height: var(--navHeight);
    border-bottom: 1px solid white;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--show {
    transform: translateX(0);
  }

  &--closer {
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background: rgba($color: #000000, $alpha: 0.3);
    transition: all 0.3s ease;
  }

  .nav-item--last {
    margin-top: auto;
  }

  .nav-link {
    padding: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
    border-bottom: 1px solid rgb(90, 90, 90);
    &:hover {
      background-color: black;
    }
  }
}

.navbar-btn {
  color: white;
  font-size: 1.2rem;
  position: relative;
  z-index: 100;
}

@media all and (min-width: 769px) {
  .navbar-center {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--blue);
  }

  .navbar-logo {
    margin-right: 1rem;
  }

  .navbar-nav {
    position: relative;
    background: none;
    height: auto;
    width: auto;
    max-width: none;
    flex: 1;
    align-items: center;
    flex-direction: row;
    transform: none;
    transition: none;

    &-title {
      display: none;
    }

    &--show {
      transform: none;
    }

    &--closer {
      display: none !important;
    }

    .nav-item--last {
      margin-top: 0;
      margin-left: auto;
    }

    .nav-link {
      padding: 10px;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      color: white;
      border-bottom: none;
      &:hover {
        background-color: black;
      }
    }
  }

  .navbar-btn {
    display: none;
  }
}
