.PostCard {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto auto 1fr auto;
  min-height: 250px;
  margin-bottom: 1rem;
  padding: 0;

  &-image {
    grid-row: 1/-1;
    border-right: 1px solid gray;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  &-title {
    padding: 1rem;
    border-bottom: 1px solid gray;
    a {
      color: var(--font-primary);
      text-decoration: none;
    }
  }

  &-date {
    margin: 5px 1rem;
    color: rgb(134, 134, 134);
    &--icon {
      display: inline-block;
      margin-right: 10px;
    }
  }

  &-resume {
    margin: 0 1rem;
  }

  &-tags {
    margin: 1rem 1rem 0 1rem;
    span {
      display: inline-block;
      margin: 0 1rem 1rem 0;
      background: lightgray;
      padding: 5px 10px;
      border-radius: 4px;
      color: rgb(105, 105, 105);
    }
  }
}

.PostCard--mobile {
  grid-template-columns: none;
  grid-template-rows: none;
  text-align: center;

  .PostCard-image {
    height: 200px;
    grid-row: auto;
  }

  .PostCard-title {
    text-align: center;
    border-top: 1px solid gray;
  }

  .PostCard-resume {
    grid-column: auto;
  }
}
