.SinglePost-page {
  margin-bottom: 5rem;
}

.SinglePost-body {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border-bottom: 1px solid lightgray;

  &-p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  &-img {
    margin-bottom: 1rem;
    text-align: center;
    img {
      width: 50%;
      margin-bottom: 0.5rem;
    }
    &-caption {
      margin: 0 auto;
      width: 70%;
      letter-spacing: 3px;
    }
  }
}

@media all and (max-width: 500px) {
  .SinglePost-body-img {
    img {
      width: 100%;
    }
    &--caption {
    }
  }
}
